<!DOCTYPE html>
{% extends "app_todo/homepage.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
{% block body %}
    <div class="text-center">
        <h1>Welcome to TODO list site!</h1>
        <h6>Here You can control your tasks! Please, sign in to continue.</h6>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <button type="submit" class="btn btn-primary">Create an account</button>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>